<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:tx="http://www.springframework.org/schema/task"
	   xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/tx ">

	<mvc:annotation-driven />
	<context:annotation-config/>

	<context:component-scan base-package="com.abshar.educational.system.model,
										  com.abshar.educational.system.persistence" />
	<bean id="sessionFactory"
		  class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>com.abshar.educational.system.model.BaseInfoEntity</value>
				<value>com.abshar.educational.system.model.CourseEntity</value>
				<value>com.abshar.educational.system.model.EducationalContentEntity</value>
				<value>com.abshar.educational.system.model.StudentEntity</value>
				<value>com.abshar.educational.system.model.TeacherEntity</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">false</prop>
			</props>
		</property>
	</bean>
	<!--<context:property-placeholder location="classpath:RulesSource.properties"/>-->

	<bean id="homeController" class="com.abshar.educational.system.controller.HomeController">
		<constructor-arg ref="restTemplate"/>
	</bean>

	<bean id="dataSource"
		  class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/AbsharDB" />
	</bean>

	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
		<!--<property name="messageConverters">
			<list>
				<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
			</list>
		</property>-->
	</bean>
	<bean id="dataDao" class="com.abshar.educational.system.persistence.DataDaoImpl">
	</bean>
	<!--<bean id="mapper" class="org.codehaus.jackson.map.ObjectMapper"></bean>-->
	<!--<bean id="urlImpl" class="com.monster.search.cabrules.util.wrap.url.UrlImpl">
		<constructor-arg value="http://dummyCabServer:8080"/>
	</bean>-->

	<bean id="emf" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="com.abshar.educational.system.model" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">validate</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.id.new_generator_mappings">false</prop>
				<!--<prop key="hibernate.hbm2ddl.auto">create</prop>-->
			</props>
		</property>
	</bean>

	<!--<tx:annotation-driven/>
	<bean id="txManager"
		  class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="persistenceExceptionTranslationPostProcessor"
		  class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
	<bean id="transactionTemplate" class="org.springframework.transaction.support.TransactionTemplate">
		<property name="transactionManager" ref="txManager"/>
	</bean>-->

	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/" />
		<property name="suffix" value=".jsp" />
		<property name="exposeContextBeansAsAttributes" value="true"/>
	</bean>

</beans>
